<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.prj.notice.map.NoticeMapper">
	<select id="noticeList" resultType="co.micol.prj.notice.vo.NoticeVO">
		SELECT * FROM NOTICE
	</select>
	
	<select id="noticeSelect" resultType="co.micol.prj.notice.vo.NoticeVO">
	</select>
	
	<insert id="noticeInsert">
	</insert>
	
	<update id="noticeUpdate">
	</update>
	
	<delete id="noticeDelete">
	</delete>
	
	<select id="noticeSearch" resultType="co.micol.prj.notice.vo.NoticeVO">
		SELECT * FROM NOTICE
		<if test="key == 'all'">where 1=1</if>
		<if test="key == 'title'">where notice_title like '%'||#{val}||'%'</if>
		<if test="key == 'subject'">where notice_subject like '%'||#{val}||'%'</if>
		<if test="key == 'writer'">where notice_writer like '%'||#{val}||'%'</if>
		<if test="key == 'date'">where notice_date = #{val}</if>
	</select>
</mapper>